<center><u><H1>Pandas: FUNCIONES</H1></u></center>

In [3]:
#Importacion de librerias
import pandas as pd
import numpy as np

In [5]:
#Creacion del data frame 
df = pd.DataFrame({'col1':[1,2,3,4,5],'col2':[0.8,55,44,25,4],'col3':['abc','det','gxx','wer','udf']})
df

   col1  col2 col3
0     1   0.8  abc
1     2  55.0  det
2     3  44.0  gxx
3     4  25.0  wer
4     5   4.0  udf

### Applying Functions Funciones():

In [6]:
#definimos una funcion que devuelve el logaritmo 
def log(x):
    return np.log(x)

In [13]:
#Invocamos a la funcion  log y le enviamos como parametro una columna
log(df['col2'])

0   -0.223144
1    4.007333
2    3.784190
3    3.218876
4    1.386294
Name: col2, dtype: float64

In [14]:
#Esta funcion cuenta cuantas veces aparece "X" dentreo de una columna y retorna en manera de porcentaje
def getsupport(X,data):
    N = len(data)
    support = (data==X).sum() / N
    return support

In [15]:
#llamada al metodo getsupport
getsupport(55,df['col2'])

0.2

In [16]:
#Esta es otra forma de llamar a una funcion con apply
#Esta es una propiedad de la libreria pandas
df['col2'].apply(log)

0   -0.223144
1    4.007333
2    3.784190
3    3.218876
4    1.386294
Name: col2, dtype: float64

### Lambda Functions(funciones genericas):

#### General expresion: lambda arg1, arg2, ...argN : expression using arguments

In [18]:
#cuando  generas una funcion lambda estas generando una funcion dentro de esa linea de codigo
#lambda son los valores que ingresan a la funciones : la ejecucion del las operaciones

df['col2'].apply(lambda x: np.tan(x))

0     1.029639
1   -45.183088
2     0.017705
3    -0.133526
4     1.157821
Name: col2, dtype: float64

In [19]:
#Elevar a la potencia 2 con funcion lambda
df['col1'].apply(lambda x: x**2)

0     1
1     4
2     9
3    16
4    25
Name: col1, dtype: int64

In [20]:
# lambda wcon condicional 'big' if x > 20 else 'small'
#si los datos de la columna son x>20 se mostrarÃ¡ "Big" de lo contrario "small"
df['col2'].apply(lambda x: 'big' if x > 20 else 'small')

0    small
1      big
2      big
3      big
4    small
Name: col2, dtype: object

In [21]:
#Funciones lambda con strings
df['col4']= df['col3'].str[0:2].apply(lambda x: 1 if x==('de') else 0)
df

   col1  col2 col3  col4
0     1   0.8  abc     0
1     2  55.0  det     1
2     3  44.0  gxx     0
3     4  25.0  wer     0
4     5   4.0  udf     0

### Using map function and lambda expresion

In [22]:
#Funcion generadora, con funcion lambda (sin apply)
df['col5'] = list(map(lambda x : x * 5, df['col1']))
df

   col1  col2 col3  col4  col5
0     1   0.8  abc     0     5
1     2  55.0  det     1    10
2     3  44.0  gxx     0    15
3     4  25.0  wer     0    20
4     5   4.0  udf     0    25

## Reference:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html