<center><u><H1>Pandas: Merge, Join, Concatenate and Group by</H1></u></center>

In [13]:
# Importar libreria pandas
import pandas as pd

In [14]:
#Dataframe con diccionarios y listas, asignacion de index
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},index=[0, 1, 2, 3])

In [15]:
#Imprime el dataframe
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [6]:
#Creacion del seguundo dataframe
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},index=[4, 5, 6, 7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [7]:
#Tercer dataframe
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},index=[8, 9, 10, 11])
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

<b>Concatenating(concatenacion):</b>

In [12]:
#Utilizamos la funcion concat de ppandas para concatenar los 3 dataframes
#La concatenacion se hace de manera vertical
c = pd.concat([df1,df2,df3])
c

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

<b>Inserting a key argument(insertar identificador por dataframe concatenado</b>

In [17]:
#agrupa los tres dataframes y asigna a cada bloque un identificador "keys=['a', 'b', 'c'])"
dflist = [df1,df2,df3]
ckey = pd.concat(dflist, keys=['a', 'b', 'c'])
ckey

        A    B    C    D
a 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
b 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
c 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

<b>Selecting by key(Buscar por identificador de dataframe):</b>

In [19]:
#Busqueda del dataframe agregado por identificador con "loc"
ckey.loc['b']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

<b>Set Logic on other axes:</b>

In [21]:
#Creaccion de dataframe
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},index=[2, 3, 6, 7])

In [28]:
#union de dos dataframes con dimenciones diferentes por columnas horizontal
#El primer dataframe que seleccionamos sera al que se le agregara la informacion "([df1, df4], axis=1(eje columnas))"
newdf = pd.concat([df1, df4], axis=1)#axis=1 joins columns
newdf

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

<B>APPENDING ROWS TO A DATAFRAME(Agregar filas al dataframe):</B>

In [29]:
#Agregar un dataframe con indices numericos con uno de tipo string
# "ignore_index=True" ignora el tipo de indices que tienen los dos dataframes
#Data frame con Series
s = pd.Series(['X0', 'X1', 'X2', 'X3'], index=['A', 'B', 'C', 'D'])
newdf = df1.append(s, ignore_index=True)
newdf

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  X0  X1  X2  X3

<b>MERGE:</b><br>
<p>pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False)<p>

In [34]:
#Data frame izquierdo
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [36]:
#Data frame derecho
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [39]:
#Fusionar ambos dataframes
#left, right, on='key' nombre de los dataframes y la columna por la cual los vamos a unir
result = pd.merge(left, right, on='key')
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

<H3>JOINS:</H3>

In [40]:
#Fusion mediante la funcion join(similar al merge)
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
result = left.join(right)
result

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

<b>The Inner Join:</b>

In [41]:
#Extrae los elementos comunes de los dataframes
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2'],
                    'C':['K0', 'K1', 'K2']})
right = pd.DataFrame({'D': ['C0', 'C2', 'C3'],'E': ['D0', 'D2', 'D3'],
                     'F': ['K0', 'K1', 'K3']})
result = left.join(right.set_index(['F']),on=['C'],how='inner')
result

    A   B   C   D   E
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C2  D2

<b>The Left Outer Join:</b>

In [43]:
#Obtiene los valores de la iquierda con interseccion con el de la deracha
#"How" especifica el tipo de inner join que se realizara
result = left.join(right.set_index(['F']),on=['C'],how='left')
result

    A   B   C    D    E
0  A0  B0  K0   C0   D0
1  A1  B1  K1   C2   D2
2  A2  B2  K2  NaN  NaN

<b>The Full Outer Join:</b>

In [44]:
#Une por completo ambos dataframes
result = left.join(right.set_index(['F']),on=['C'],how='outer')
result

       A    B   C    D    E
0.0   A0   B0  K0   C0   D0
1.0   A1   B1  K1   C2   D2
2.0   A2   B2  K2  NaN  NaN
NaN  NaN  NaN  K3   C3   D3

#### Merge  method -->        SQL Join Name ------>       Description
####  left	-------->      LEFT OUTER JOIN -------->    Use keys from left frame only
#### right  -------->      RIGHT OUTER JOIN ------>     Use keys from right frame only
#### outer --------->      FULL OUTER JOIN ------->     Use union of keys from both frames
#### inner --------->      INNER JOIN --------------->  Use intersection of keys from both frames

## GROUP BY:

In [45]:
#Nuevo dataframe
df = pd.DataFrame({'FactorA': [6, 8, 3, 1],
                    'FactorB': [4, 23, 14, 44],
                    'FactorC': [10, 34, 23, 67],
                    'Class': ['1', '2', '2', '1']},index=[0, 1, 2, 3])
df

   FactorA  FactorB  FactorC Class
0        6        4       10     1
1        8       23       34     2
2        3       14       23     2
3        1       44       67     1

In [49]:
#Agrupacion y suma de los factores
#Usamos el dataframe  Groupby y la columna que se usara
df.groupby('Class').sum()

       FactorA  FactorB  FactorC
Class
1            7       48       77
2           11       37       57

In [50]:
#Agrupacion y media de valores
df.groupby(['Class']).mean()

       FactorA  FactorB  FactorC
Class
1          3.5     24.0     38.5
2          5.5     18.5     28.5

In [54]:
#Solo agrupar
#se necesita insertarlo dentro de una lista
lis=list(df.groupby(['Class']))
lis

[('1',
     FactorA  FactorB  FactorC Class
  0        6        4       10     1
  3        1       44       67     1),
 ('2',
     FactorA  FactorB  FactorC Class
  1        8       23       34     2
  2        3       14       23     2)]

In [57]:
#Agrupacion
df_ = df.groupby(['Class'])
groups = df_.groups
groups

{'1': [0, 3], '2': [1, 2]}

In [59]:
#Group by con estadisticas
print(df.groupby(['Class']).describe())

      FactorA                                           FactorB        ...  \
        count mean       std  min   25%  50%   75%  max   count  mean  ...
Class                                                                  ...
1         2.0  3.5  3.535534  1.0  2.25  3.5  4.75  6.0     2.0  24.0  ...
2         2.0  5.5  3.535534  3.0  4.25  5.5  6.75  8.0     2.0  18.5  ...

                   FactorC
         75%   max   count  mean        std   min    25%   50%    75%   max
Class
1      34.00  44.0     2.0  38.5  40.305087  10.0  24.25  38.5  52.75  67.0
2      20.75  23.0     2.0  28.5   7.778175  23.0  25.75  28.5  31.25  34.0

[2 rows x 24 columns]

## Reference:

http://pandas.pydata.org/pandas-docs/stable/merging.html